<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
     



    <body>

        <!-- navbarsection -->
        <section class="bg-slate-950 w-full">
            <nav class="flex flex-row justify-between  text-white py-4 w-[1150px] mx-auto">
                <div><img src="https://images.squarespace-cdn.com/content/v1/63fe7f9ad502034b00c213e2/28119b71-21b4-465b-a16d-b552f8567fbc/PastedGraphic-3+%282%29.png " class="w-[80px]   inline-block" alt=""><span class="text-2xl font-bold font-serif py-1"> </span>
                
                </div>
    
    
                <div>
                    <ul class="flex flex-row gap-5 text-2xl  font-Whitney font-semibold cursor-pointer">
                        <li>Discover</li>
                        <li> support</li>
                        <li> carrers</li>
                        <li>Blog</li>
                        <li>Explore</li>
                    </ul>
                </div>
    
                <div><button
                        class="bg-white text-black rounded-full  font-medium text-[1.2rem] w-[100px] h-[40px] hover:scale-125 transition-all duration-500"><a href="login11.html">login</a></button>
                </div>
            </nav>
    
    
            <!-- main -->
            <section
                class="bg-[url('/images/Image0.svg')] relative bg-cover my-[2rem] object-fill bg-no-repeat w-full h-[600px] bg-slate-950 ">
    
                <div class=" flex flex-col items-center pt-[7.4rem]">
                    <h1 class="animate_animated animate__pulse text-7xl font-Ginto font-bold text-white ">Imagine a Place...</h1>
                    <div>
                        <p class="my-[4rem] text-white font-Ginto opacity-[0.78] text-2xl w-[800px]"> where you can increase your literacy about theater and theator arts  a world wide
                            commmunity for enthusiast where you can  spend a handful amount of time together and learn a lot about theater arts
                        </p>
                    </div>
    
                    <div>
                        <button class="bg-white  rounded-full w-[310px] h-[60px] font-Ginto text-2xl mx-5 hover:shadow-2xl  hover:scale-125 transition-all duration-500"><i
                                class="fa-brands fa-windows "></i> Download for windows</button>
                        <button class="bg-blue-600 rounded-full w-[300px] h-[60px] font-Ginto text-2xl mx-5 text-white hover:shadow-2xl hover:scale-125 transition-all duration-500"> 
                            
                            <i class="fa-brands fa-android"></i> Download for Android</button>
                    </div>
                    <div class="absolute right-[0.3rem] bottom-[16.4rem] w-[400px] h-[100px]">
                        <img src="" class="hover:scale-125 transition-all duration-500  " alt="">
                    </div>
                    <div class="absolute left-0 bottom-[2.4rem] w-[500px]">
                        <img src=" " class="hover:scale-125 transition-all duration-500" alt="">
                    </div>
    
    
                </div>
            </section>
    
    
    
    
        </section>
    
        <!-- after main section -->
        <section class="mt-[2.2rem] py-[8rem]">
            <div class="w-[1300px] flex flex-row gap-2 mx-auto">
                <div class="">
                    <img src=" https://discordwebapp.netlify.app/assets/section3Image-408e1136.svg" class="w-800px h-200px hover:scale-125 transition-all duration-500" alt="">
    
                </div>
                <div>
                    <div class=" mt-[2.4rem]">
                        <h1 class="font-Ginto text-5xl w-[500px] font-semibold" >Create a place where artists and theater belongs</h1>
                    </div>
                    <div class="text-xl w-[400px] mt-[2.3rem]">
                        <p>Curtain Call is organized into topic-based
                            channels where you can collaborate, share, and just talk
                            about your interest without clogging up a group chat.</p>
                    </div>
    
                </div>
    
            </div>
    
        </section>
    
        <!-- next feature section -->
        <section class="mt-[2.2rem] py-[8rem] bg-slate-950">
            <div class="w-[1300px] flex flex-row gap-[4.2rem] mx-auto">
               
                <div>
                    <div class=" mt-[2.4rem]">
                        <h1 class="font-Ginto text-6xl w-[450px] font-semibold text-white" >Where hanging out is easy</h1>
                    </div>
                    <div class="text-xl w-[400px] mt-[2.3rem] leading-[1.8rem] text-white">
                        <p>Grab a seat in a voice channel when you’re free. Friends in your server can see 
                            you’re around and instantly pop in to talk without having to call.</p>
                    </div>
    
                </div>
                <div class="">
                    <img src="https://discordwebapp.netlify.app/assets/section2Image-ab680751.svg" class="w-900px  hover:scale-125 transition-all duration-500 " alt="">
    
                </div>
    
            </div>
    
        </section>
    
        <!-- relaiable tech waaala  -->
    
        <section class="my-8">
    
            <div class="pt-[8rem] w-[1500px] mx-auto ">
                 <h1 class=" text-5xl font-Ginto font-semibold text-center">RELIABLE TECH FOR <span class="text-orange-600">STAYING</span>  CLOSE</h1>
    
                 
                    <p class="font-Whitney text-2xl mt-[4rem]  text-center justify-left  text-gray-500">Low-latency voice and video feels like you’re in the same room.Wave hello
                        <br>over video,watch friends stream their games, or gather up and have a drawing 
                        session with screen share.</p>
    
                 
                
               
                 
    
            </div>
    
            <center>
                <div class="my-[2.5rem] ">
    
                    
                    <img src="https://discordwebapp.netlify.app/assets/Image1-f19a3178.svg" class="justify-center hover:scale-125 transition-all duration-500" class="max-w-full border" alt="">
    
                 </div>
    
                </center>
    
            <div class=" relative w-[1200px] bg-[url('/images/section5Image.svg')] bg-no-repeat  bg-cover mx-auto ">
    
                <h1 class="text-4xl font-ggSans font-semibold my-[3.2rem] text-center">Ready to Start your Journey ?</h1>
                <img src="images/section5Image.svg" class="absolute top-[2rem] hover:scale-125 transition-all duration-500" alt="">
                <center>
                 
                    <button class="bg-blue-500  s text-white rounded-full w-[350px] h-[60px] font-Ginto text-2xl mx-5"><i
                        class="fa-brands fa-windows"></i> Download for windows</button>
    
                </center>
                
    
    
    
            </div>
    
        </section>
    
        <!-- hack club version is starting -->
    
        <section class="py-[2.4rem] bg-slate-100">
            <h1 class="mt-[4rem] font-serif text-center text-gray-500 font-medium text-2xl">WE'VE GOT A LOT GOING ON - LET’S RECAP</h1>
            <center>
            <h2 class="text-center text-6xl font-bold font-Ginto w-[600px] leading-[4.6rem] my-10">Find your second home at <span class="text-orange-500">Community</span></h2>
        </center>
        
        <!-- grid structure -->
        
    
        <div class="grid grid-cols-3 gap-3 w-[1200px] mx-auto">
    
            <div class="border bg-gradient-to-r from-green-400 to-blue-400 rounded-2xl py-[1.4rem] px-[1.2rem] hover:shadow-2xl transition-all duration-200">
                <img src="images/2.png" class="hover:scale-125 transition-all duration-500" alt="">
                <h1 class="font-Ginto text-4xl font-bold text-white mb-[1.5rem]"> Join our community</h1>
                <p class="font-Whitney text-white text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     At, amet obcaecati!</p>
              
            </div>
    
            <div class="border bg-gradient-to-r from-orange-500 to-red-500 rounded-2xl py-[1.4rem] px-[1.2rem] hover:shadow-2xl transition-all duration-200">
                <img src="images/4.png"  class="hover:scale-125 transition-all duration-500" alt="">
                <h1 class="font-Ginto text-4xl font-bold text-white mb-[1.5rem]"> Grow and run Together</h1>
                <p class="font-Whitney text-white text-2xl">Lorem ipsum dolor, sit amet consectetur adipisicing 
                    elit. Itaque, odio veritatis.</p>
              
            </div>
    
            <div class="border bg-gradient-to-r from-purple-500 to-pink-500 rounded-2xl py-[1.4rem] px-[1.2rem] hover:shadow-2xl transition-all duration-200">
                <img src="images/5.png " class="hover:scale-125 transition-all duration-500" alt="">
                <h1 class="font-Ginto text-4xl font-bold text-white mb-[1.5rem]">Explore and Fun</h1>
                <p class="font-Whitney text-white text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, possimus maxime
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              
            </div>
    
            
    
        </div>
    
        </section>

        <!-- <footer></footer> -->
  <div class="bg-gray-200">
    <div class="w-[1100px] mx-auto py-[6rem]">
        <div class="flex flex-row gap-[5.5rem]">
            <div>
                <img src="https://images.squarespace-cdn.com/content/v1/63fe7f9ad502034b00c213e2/28119b71-21b4-465b-a16d-b552f8567fbc/PastedGraphic-3+%282%29.png" class="w-[100px]" alt="">
                <div class="w-[60px] h-1 bg-red-400 my-4"></div>

                
                <p class="w-[300px] my-5  font-ggSans">Registered as Hunger Heroes.

                    Under Indian Society Registration Act XXI, 1860</p>
                <p class="w-[300px]  font-ggSans">All donations are tax-exempted as eligible under section 80G of the Income Tax Act, 1961.</p>
            </div>
            <div class="flex flex-col gap-6">
               <div>
                <h1 class="text-2xl font-medium"> who we are</h1>
                <div class="w-[50px] h-1 bg-red-400 my-2 "></div>
               </div>
                
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Contact us</h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> About us </h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Help us</h1>
            </div>

            <div class="flex flex-col gap-6">
                <div>
                    <h1 class="text-2xl font-medium ">Get involved</h1>
                    <div class="w-[80px] h-1 bg-red-400 my-2"></div>
                </div>
               
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Donate</h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Request for Food</h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Partner with us</h1>
            </div>

            <div>
                <h1 class="text-2xl font-medium"> Socials</h1>
                <div class="w-[80px] h-1 bg-red-400 my-2"></div>
                <div class="my-5">

                    <i class="fa-brands fa-instagram fa-2xl "></i>
                    <i class="fa-brands fa-facebook fa-2xl mx-2"></i>
                    <i class="fa-brands fa-google fa-2xl "></i>

                </div>
            </div>

            
        </div>
    </div>


    
    
    <!-- footer section -->
    <!-- <section class="bg-[url('/images/globe.webp')] w-full py-[8rem] bg-cover bg-no-repeat ">
       <section class="bg-[url('/images/newsletter.png')] py-[25rem] bg-cover bg-no-repeat w-[690px] mx-auto"></section>
    </section> -->
    
    
</body>
</html>