<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Document</title>

</head>
<style>
    * {
        box-sizing: border-box;

    }

    .mycss{
            object-fit:cover;
        position: absolute;
        /* width: 400px; */
        height: auto;
        animation: 10s infinite linear deepak;
         }   
         @keyframes deepak {

0%{
    top:0;
}

100%{
    top:-50%;
}

}
</style>





<body>
    <div class="bg-black">

        <div class="w-[1100px] mt-3 mx-auto flex flex-row gap-[4rem]">

            <img src="https://images.squarespace-cdn.com/content/v1/63fe7f9ad502034b00c213e2/28119b71-21b4-465b-a16d-b552f8567fbc/PastedGraphic-3+%282%29.png" class="w-[120px] my-2 " alt=" no image">

            <ul class="flex flex-row gap-[2.4rem] pt-4  font-bold  text-white">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="/courses">Courses</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
            </ul>

            <div class="flex flex-row gap-[2rem] ">
                <img src="{{ url_for('static',filename='images/india-flag.svg')}}" class="w-[70px] h-[30px] mt-4"
                    alt="">
                <button class="border  font-semibold px-4 h-10 mt-2 text-white bg-red-400"> Login</button>
                <button class="bg-blue-600 text-white font-semibold px-4 h-10  mt-2"><a href="/register">Register</a></button>
            </div>

        </div>

    </div>
    <!-- hero section -->

    <div class="pt-[10rem] bg-black ">
        <div class="w-[1100px] mx-auto flex flex-col gap-[3rem]">
            <h1 class="text-center font-mono text-5xl font-bold text-white">Empower Your Future with <span
                    class="text-yellow-400">Practical Skills</span> </h1>
            <p class=" text-center text-2xl text-gray-400 font-semibold">With our online coding courses, you can learn
                at your own pace, from anywhere in the world,
                and get access to a wealth of resources, including hands-on projects,
                quizzes, and personalized feedback from instructors.</p>

            <div class="mt-5">
                <center>

                    <button class="bg-yellow-400 text-black  px-4 py-3 text-xl mx-4 font-medium rounded-lg">Learn
                        More</button>
                    <button class="bg-white text-black  px-4 py-3 text-xl font-medium rounded-lg">Book a Demo</button>
                </center>

            </div>

            <div class="my-[2.2rem] ">


                <video src="https://studynotion-frontend.vercel.app/static/media/banner.8e687823b1422880cc3f.mp4"
                    autoplay muted class="h-[680px]  w-full shadow-2xl"></video>

            </div>





        </div>


    </div>



    <!-- hero section2 -->



    <div class="pt-[7rem] bg-black ">

        <div class="w-[1100px] flex mx-auto  gap-[5rem]">
            <!-- leftsection -->

            <div class="w-[560px] flex flex-col gap-[2rem]  justify-center">

                <h1 class="text-4xl text-white font-serif font-bold leading-[3.3rem]">Unlock your coding potential with
                    our <span class="text-blue-600">online courses</span>.</h1>
                <p class="text-xl text-gray-300 font-semibold leading-[2.2rem] ">Our courses are designed and taught by
                    industry experts
                    who have years of experience in coding and are passionate
                    about sharing their knowledge with you.
                </p>

                <div>

                    <button class="bg-yellow-400 px-4 py-2 text-xl mx-4 rounded-lg font-semibold">Try it
                        Yourself</button>
                    <button class="bg-yellow-400 text-xl py-2 px-4 rounded-lg font-semibold">Learn More</button>


                </div>



            </div>

            <!-- right section -->

            <div>

                <img src="https://cms-images.udemycdn.com/content/c4gpjcmcsk/png/UB_Case_Studies_Booz_Allen_image.png?position=c&quality=80&x.app=portals"
                    class="w-[500px]" alt="">






            </div>



        </div>





    </div>


    <!-- hero section 4 -->
    <div class="py-[12rem] bg-black">

        <div class="w-[1100px] flex mx-auto  gap-[5rem]">
            <!-- leftsection -->


            <div class="w-[400px]">

                <img src="https://cms-images.udemycdn.com/96883mtakkm8/3tdKdJqRtZAyDDmdZR3qGV/f60cfa56e1394c0961b799b31025d859/capitalone-2x.png"
                    class="w-[500px]" alt="">






            </div>

            <div class="w-[560px] flex flex-col gap-[2rem]  justify-center">

                <h1 class="text-4xl text-white font-serif font-bold leading-[3.3rem]">Start <span
                        class="text-blue-500">coding </span> in seconds</h1>
                <p class="text-xl text-gray-300 font-semibold leading-[2.2rem] ">Go ahead, give it a try. Our hands-on
                    learning environment means you'll be writing real code from your very first lesson.
                    about sharing their knowledge with you.
                </p>

                <div>

                    <button class="bg-yellow-400 px-4 py-2 text-xl mx-4 rounded-lg font-semibold">Continue
                        Lesson</button>
                    <button class="bg-yellow-400 text-xl py-2 px-4 rounded-lg font-semibold">Learn More</button>


                </div>



            </div>

            <!-- right section -->





        </div>





    </div>


    <!-- skills sections -->


    <div class="mt-[4rem] pb-[4rem]">

        <div class="flex w-[1200px] mx-auto gap-[8rem] ">

            <h1 class="text-4xl font-semibold leading-[2.9rem] ">Get the skills you need for a job that is in demand.
            </h1>

            <div>

                <p class="my-4 text-xl w-[500px]">The modern StudyNotion is the dictates its own terms. Today, to be a
                    competitive
                    specialist requires more than professional skills.</p>


                <button class="bg-yellow-400 text-xl py-2 px-4 rounded-lg font-semibold">Learn More</button>

            </div>






        </div>

        <!-- dusra flex is here -->
 <div class="flex w-[1200px] mx-auto gap-[20rem] my-[4rem]">

   <div class="flex  flex-col gap-[2rem]">
     <div class="">

        <h1 class="text-2xl font-semibold my-1"> 1 Leadership</h1>
        <p>Fully committed to the success company</p>

     </div>
     <div class="">

        <h1 class="text-2xl font-semibold my-1">
          2 Responsibility</h1>
        <p>Students will always be our top priority</p>

     </div>
     <div class="">

        <h1 class="text-2xl font-semibold my-1">3 Flexibility</h1>
        <p>The ability to switch is an important skills</p>

     </div>
     <div class="">

        <h1 class="text-2xl font-semibold my-1">4 Solve the problem</h1>
        <p>Code your way to a solution</p>

     </div>
   </div>

   <div class="relative ">
    <img src="https://study-notion-ed-tech-kappa.vercel.app/static/media/TimelineImage.a610b1e5d891ac77fe93.png" class="w-[600px]" alt="">
   
    <div class="flex w-[530px] h-[100px] bg-green-900 gap-[2rem] justify-center absolute bottom-[-24] left-8 py-4">
        <div class="flex gap-[2rem] items-center">
            <h1 class="text-3xl font-bold text-white">10</h1><h1 class="text-xl font-serif  text-white">Years of experience</h1>
        </div>
        <div class="flex gap-[2rem] items-center"><h1 class="text-3xl font-bold text-white">250</h1><h1 class="text-xl font-serif text-white">Types of courses</h1></div>

    </div>
</div>
           

<!-- <p>trending courses</p> -->




        </div>



    </div>



<!-- second last section    -->

<div>
    <div class=" w-[1100px] mx-auto mb-[6rem] mt-[5rem]">

        <h2 class="text-4xl text-center my-5 font-semibold">Spotted in Every Place of Our Country</h2>
        <center>
            <div class="w-[100px] h-1 bg-red-500 inline-block mx-auto"></div>
        </center>
        
        <div class="flex flex-row gap-[2rem] mt-[4rem] relative">
            <img src="https://deepakrana07.github.io/feed-india/images/map.avif" alt="" class="w-[600px] h-[650px]">
            <div class="relative w-[400px] overflow-y-hidden h-[650px]">
                <div style="background: linear-gradient(180deg,#f4f8ff,#fff0);" class="h-20  z-50  "> </div>
                <img src="https://deepakrana07.github.io/feed-india/images/comanies.png" alt="" class=" mycss object-contain h-auto object-cover">
                <div style="background: linear-gradient(0deg,#f4f8ff,#fff0);" class="h-20 mt-[32rem] z-50  "></div>
            </div>
        </div>
    </div>
</div>


<!-- footer section -->
<div class="bg-gray-200">
    <div class="w-[1100px] mx-auto py-[6rem]">
        <div class="flex flex-row gap-[5.5rem]">
            <div>
                <img src="https://images.squarespace-cdn.com/content/v1/63fe7f9ad502034b00c213e2/28119b71-21b4-465b-a16d-b552f8567fbc/PastedGraphic-3+%282%29.png  " class="w-[120px]" alt="">
                <div class="w-[60px] h-1 bg-red-400 my-4"></div>

                
                <p class="w-[300px] my-5  font-ggSans">Registered as Hunger Heroes.

                    Under Indian Society Registration Act XXI, 1860</p>
                <p class="w-[300px]  font-ggSans">All donations are tax-exempted as eligible under section 80G of the Income Tax Act, 1961.</p>
            </div>
            <div class="flex flex-col gap-6">
               <div>
                <h1 class="text-2xl font-medium"> who we are</h1>
                <div class="w-[50px] h-1 bg-red-400 my-2 "></div>
               </div>
                
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Contact us</h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> About us </h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Help us</h1>
            </div>

            <div class="flex flex-col gap-6">
                <div>
                    <h1 class="text-2xl font-medium ">Get involved</h1>
                    <div class="w-[80px] h-1 bg-red-400 my-2"></div>
                </div>
               
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Study</h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Scholarship</h1>
                <h1 class="text-xl"><i class="fa-solid fa-arrow-right fa"></i> Partner with us</h1>
            </div>

            <div>
                <h1 class="text-2xl font-medium"> Socials</h1>
                <div class="w-[80px] h-1 bg-red-400 my-2"></div>
                <div class="my-5">

                    <i class="fa-brands fa-instagram fa-2xl "></i>
                    <i class="fa-brands fa-facebook fa-2xl mx-2"></i>
                    <i class="fa-brands fa-google fa-2xl "></i>

                </div>
            </div>

            
        </div>
    </div>

</body>

</html>