<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Document</title>

</head>
<body>
    <!-- <div>
        <div class="flex flex-row gap-[8rem] w-[1000px] mx-auto my-3">
            <!-- <img src="{{ url_for('templates', filename='images/know.jpg') }}" alt="hello"> -->
            <!-- <div class="bg-[url('./images/know.png')]">hi</div> -->

            <!-- <ul class="flex flex-row gap-5 mt-1">
                <li>Home</li>
                <li>Categories</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>

            <div class="flex flex-row gap-4 ">
                <button class="bg-blue-400 px-2 py-1  font-semibold text-white">Login</button>
                <button class="bg-black px-2 py-1 font-semibold text-white">Submit</button>
            </div>

        </div> -->
    <!-- </div> --> -->
    <h1> hello world</h1>

    
</body>
</html>